<div class="container">
  <div class="row">
    
    <div class="card col-md-4" style="width: 18rem;">
      <% if @user.u_image != nil%>
        <img class="rounded-circle" src="<%= @user.u_image%>" alt="Generic placeholder image" width="140" height="140">
        <% else%>
      <img class="rounded-circle" src="/assets/dog.jpg" alt="Generic placeholder image" width="140" height="140">
      <% end%>
      <div class="card-body">
        <h5 class="card-title">User Name :<%= @user.name%></h5>
        <p class="card-text">User password :<%= @user.password%></p>
        <p class="card-text">User Email :<%= @user.email%></p>
        <a href="/user/edit/<%= @user.id%>" class="btn btn-primary">ユーザー情報を編集する</a>
        </div>
    </div>
    
    <div class="card col-md-4" style="width: 18rem;">
      <div>投稿したレシピ</div>
      <% if @recipe%>
      <% @recipe.each do |recipe|%>
    <img src="<%= recipe.r_image%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= recipe.title%></h5>
      <a href="/recipe/edit/<%= recipe.id%>" class="btn btn-primary">編集する</a>
      <a href="/recipe/delete/<%= recipe.id%>" class="btn btn-primary">削除する</a>
      </div>
      <% end%>
      <% end%>
    </div>
    
    <div class="card col-md-4" style="width: 18rem;">
      <div>いいね！したレシピ</div>
      <% if @like%>
      <% @like.each do |like|%>
      <% recipe = Recipe.where(id: like.like_recipe_id)%>
      <% recipe.each do |recipe|%>
    <img src="<%= recipe.r_image%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= recipe.title%></h5>
        <% user = User.find(recipe.user_id)%>
        <p class="card-text"><%=user.name%>さんの投稿</p>
        <a href="/recipe/show/<%= recipe.id%>" class="btn btn-primary">レシピを観る！</a>
        </div>
      <% end%>
      <% end%>
      <% end%>
    </div>

  </div>
</div>
